.containerTags {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 32px 0;
}

.tagsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
}

.tagsWrapper span {
    border-radius: 32px;
    background-color: var(--background-gray);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: var(--decorative-font), sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 8px 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.tagsWrapper span:active {
    transform: scale(0.9);
}

.tagsWrapper span:hover {
    background-color: #e1cffc;
}

.tagsWrapper span.selected {
    background-color: var(--primary-color);
    color: var(--primary-white);
}

@media(max-width: 360px) {
    .containerTags {
        width: 100%;
        flex-direction: column;
        gap: 24px;
    }

    .tagsTitle {
        font-size: 24px;
        font-weight: 500;
    }

    .tagsWrapper {
        gap: 12px;
    }

    .tagsWrapper span {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 8px 20px;
    }
}
