.card {
    background-color: var(--secondary-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 284px;
    border-radius: 8px;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 6px 6px 12px;
}

.cardImage {
    width: 272px;
    height: 180px;
    margin: 0 auto;
}

.cardTitle {
    font-size: 24px;
    font-weight: 500;
    margin: 2px 2px 8px ;
    padding: 4px;
}

.cardDescription {
    padding: 4px;
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
}

@media(max-width: 360px) {
    .card {
        width: 100%;
        margin: 0 auto;
    }

    .cardImage {
        width: 100%;
        margin: 0 auto;
    }

    .cardTitle {
        font-size: 20px;
        line-height: 30px;
        margin: 8px 0 0;
    }

    .cardDescription {
        font-size: 16px;
        line-height: 24px;
    }
}
